.card-container{
    background-color: blue;
    height: 100px;
    width: 75px;
    align-items: center;
    justify-content: center;
}
h1{
    justify-content:start;
}
body{
gap: 2rem;
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}