.card-container {
  background-color: blue;
  height: 300px;
  width: 175px;
  align-items: center;
  justify-content: center;
}

h1 {
  justify-content: start;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;

  padding: 0;
  margin: 0;
}

/* Method for order BEM (block - element - modify) */
.card {
  /* border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.card-container {}